body {
    background-color:#35354D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.top-header {
    background-color: white;
    position: relative;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + section#bioPage {
    padding-top: 150px;
  }

#logo {
    background-color:black;
    border: 1px solid orange;
    width: 5.5em;
    height:2em;
    padding: 0px 15px;
    font-size:35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.q {
    color: #9493D5;
}
.a {
 color: #d1d1d1
}
.plus {
    color: white;
    margin-left: -4px;
}
.d {
    color: #AB8968
}
.logo-pipe {
    color: orange;
    padding-left: 2px;
    font-weight: bold;
    font-size:45px;
}
.logo-initial {
    color: #9493D5;
}
h1.title {
    margin-left: 32px;
    color: black;
    font-size: 26px;
}

header {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    color: white;
    
}

nav {
    display: flex;
    position: absolute;
    right: 1px;
    bottom: -16px;
}
#navLinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
   
}

ul#navlinks {
    display: flex;
    flex-flow: row wrap;
}

ul#navlinks li {
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 50px;
    width: 145px;
    text-align:center;
    
}

#navLinks > li:nth-child(1) {
background-color: #1f1e4d;
}
#navLinks > li:nth-child(2) {
background-color: #3d3c99;
}
#navLinks > li:nth-child(3) {
    background-color: #9493d5;
    }
#navLinks > li > a{
color: orange;
text-decoration: none;
}
#navLinks > li:hover{
    color: white;
    background-color: #3D3C99;
    }

.fullPage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 100%;
    
}

#bioPage { 
    background-color:#1F1E4D;
    color: white;
    display:flex;
    
}
#bioPage header {
    margin: 0px 5px;
}
#bioPage div {
    background-color: #1F1E4D;
    color: white;
    font-size:20px;
    height:200px;width:100%;font:16px/26px;overflow:auto;
  
}

#bioPage .image-div {
    height:245px;
    background-image: url("images/familyPhoto.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    width:31%;
    border: 2px solid orange;
    margin: 5px 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#technologiesPage {
background-color:  #3D3C99;
color: white;
color: #d1d1d1;
    font-size:20px;
    max-width:55%;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


#devjobs {
    background-color:  #3D3C99;
    color: white;
    color: #d1d1d1;
    padding: 10px;
    margin: 10px 0px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


#projectsPage {
    background-color: #000;
    color: orange;
    padding: 10px;
    margin: 5px;
    display:flex;
    flex-flow: row wrap;
}
.project {
    border: 2px solid orange;
   
}

footer {
    background-color: #9493D5;
    color:white;
    position: relative;
    height:50px;
    width: 100%;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 10px 0px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   
}

.page-footer {
    padding-bottom: 10px;
}
footer .contact-info {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
}


.linkedin, .github, .email {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}



img.project {
    width: 33%;
    height: auto;
}